html, body {
  font-family: "Source Sans Pro";
  height: 100%;
  margin: 0;
  position: relative; }

body {
  background: #FFFFFF; }

.esy img {
  max-width: 100%; }
.esy .skiptocontent {
  left: -999px;
  position: absolute;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
  z-index: -999; }
  .esy .skiptocontent:active, .esy .skiptocontent:focus {
    color: #fff;
    background: #000;
    left: auto;
    top: auto;
    width: 30%;
    height: auto;
    overflow: auto;
    margin: 10px 35%;
    padding: 5px;
    border-radius: 15px;
    border: 4px solid yellow;
    text-align: center;
    font-size: 1.2em;
    z-index: 999; }
.esy header {
  background: #010712;
  color: #FFFFFF;
  padding: 2px 10%;
  position: fixed;
  text-align: right;
  width: 100%;
  z-index: 10; }
  @media (max-width: 768px) {
    .esy header {
      display: none; } }
  @media (max-width: 1024px) and (min-width: 768px) {
    .esy header {
      padding: 2px 5%; } }
  .esy header a, .esy header a:hover, .esy header a:active {
    color: #FFFFFF;
    text-transform: upper-case; }
@media (min-width: 768px) {
  .esy nav {
    background: rgba(28, 31, 38, 0.95);
    border-bottom: 2px solid #010712;
    color: #FFF;
    font-family: "Source Sans Pro";
    font-size: 18px;
    margin-top: 24px;
    position: fixed;
    width: 100%;
    z-index: 10; }
    .esy nav .wrapper {
      margin: 0 10%; }
      .esy nav .wrapper .logo a {
        font-size: 0; }
        .esy nav .wrapper .logo a img {
          height: 50px;
          max-width: 100%;
          width: 253px; }
        .esy nav .wrapper .logo a p {
          position: absolute;
          top: -100%; }
      .esy nav .wrapper .hamburger {
        display: none; }
      .esy nav .wrapper ul {
        list-style-type: none;
        margin: 0 0 0 253px;
        position: absolute;
        padding: 0;
        top: 0; }
        .esy nav .wrapper ul li {
          cursor: pointer;
          display: inline-box;
          display: table-cell;
          line-height: 18px;
          padding: 16px 0;
          -webkit-transition: background 0.2s, border 0.2s;
          -moz-transition: background 0.2s, border 0.2s;
          -ms-transition: background 0.2s, border 0.2s;
          -o-transition: background 0.2s, border 0.2s;
          transition: background 0.2s, border 0.2s; }
          .esy nav .wrapper ul li:hover, .esy nav .wrapper ul li:active {
            background: #04518C;
            border-bottom: 2px solid #00A1D9; }
            .esy nav .wrapper ul li:hover a, .esy nav .wrapper ul li:active a {
              border-right: 1px solid transparent; }
          .esy nav .wrapper ul li:last-of-type a {
            border-right: none; }
          .esy nav .wrapper ul li a {
            border-right: 1px solid #2F2F2F;
            color: #FFF;
            font-size: 18px;
            font-style: normal;
            font-weight: 300;
            padding: 0 15px;
            text-decoration: none; } }
@media (max-width: 1024px) and (min-width: 768px) {
  .esy nav .wrapper {
    margin: 0 5%; }
    .esy nav .wrapper ul li a {
      font-size: 16px;
      padding: 0 5px; } }
@media (max-width: 767px) {
  .esy nav {
    background: rgba(28, 31, 38, 0.95);
    color: #FFF;
    font-family: "Source Sans Pro";
    font-size: 18px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10; }
    .esy nav .wrapper .logo {
      margin-left: 50px; }
      .esy nav .wrapper .logo a {
        font-size: 0; }
        .esy nav .wrapper .logo a img {
          height: 50px;
          max-width: 100%;
          width: 253px; }
        .esy nav .wrapper .logo a p {
          position: absolute;
          top: -100%; }
    .esy nav .wrapper .hamburger {
      cursor: pointer;
      display: inline;
      font-size: 25px;
      height: 50px;
      left: 0;
      line-height: 25px;
      padding: 12.5px;
      position: absolute;
      width: 50px;
      text-align: center;
      -webkit-transition: background 0.2s;
      -moz-transition: background 0.2s;
      -ms-transition: background 0.2s;
      -o-transition: background 0.2s;
      transition: background 0.2s;
      top: 0; }
      .esy nav .wrapper .hamburger:hover, .esy nav .wrapper .hamburger:active, .esy nav .wrapper .hamburger.open {
        background: #04518C; }
      .esy nav .wrapper .hamburger p {
        position: absolute;
        top: -100%; }
    .esy nav .wrapper ul {
      background: rgba(28, 31, 38, 0.95);
      height: 100vh;
      list-style-type: none;
      margin-top: 50px;
      overflow: scroll;
      position: absolute;
      padding: 0;
      top: 0;
      left: 0;
      min-width: 240px;
      -moz-transform: translate(-100%, 0);
      -o-transform: translate(-100%, 0);
      -ms-transform: translate(-100%, 0);
      -webkit-transform: translate(-100%, 0);
      transform: translate(-100%, 0);
      -webkit-transition: transform 0.3s;
      -moz-transition: transform 0.3s;
      -ms-transition: transform 0.3s;
      -o-transition: transform 0.3s;
      transition: transform 0.3s; }
      .esy nav .wrapper ul.open {
        -moz-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0); }
      .esy nav .wrapper ul li {
        cursor: pointer;
        line-height: 18px;
        padding: 16px 12.5px;
        -webkit-transition: background 0.2s, border 0.2s;
        -moz-transition: background 0.2s, border 0.2s;
        -ms-transition: background 0.2s, border 0.2s;
        -o-transition: background 0.2s, border 0.2s;
        transition: background 0.2s, border 0.2s; }
        .esy nav .wrapper ul li:hover, .esy nav .wrapper ul li:active {
          background: #04518C; }
        .esy nav .wrapper ul li a {
          color: #FFF;
          font-size: 18px;
          font-style: normal;
          font-weight: 300;
          text-decoration: none; } }
.esy .hero {
  background: rgba(1, 20, 40, 0.5);
  border-bottom: 2px solid #FFF;
  color: #FFFFFF;
  height: 80%;
  padding-top: 74px;
  position: relative; }
  .esy .hero .canvas {
    background: url(../img/herobg.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1; }
  .esy .hero .wrapper {
    margin: 0 10%; }
@media (min-width: 768px) {
  .esy .wrapper {
    margin: 0 10%; } }
@media (max-width: 1024px) and (min-width: 768px) {
  .esy .wrapper {
    margin: 0 5%; } }
@media (max-width: 767px) {
  .esy .wrapper {
    margin: 0 5%; } }
.esy footer {
  background: #1c1f26;
  color: #FFFFFF;
  font-weight: 300;
  padding: 10px 0 0 0;
  position: relative; }
  .esy footer .hide {
    position: absolute;
    left: -100000px; }
  .esy footer img {
    opacity: 0.6; }
  .esy footer img:hover {
    opacity: 1; }
  .esy footer ul {
    list-style-type: none;
    padding: 0;
    margin: 0; }
    .esy footer ul li {
      font-size: 18px;
      padding-right: 20px;
      display: inline-box;
      display: table-cell; }
      .esy footer ul li:last-of-type {
        padding-right: 0; }
      .esy footer ul li ul {
        margin: 10px 0 0 0;
        padding: 0;
        list-style-type: circle; }
        .esy footer ul li ul li {
          display: list-item;
          font-size: 15px;
          padding-left: 0px;
          margin-left: 20px; }

/*# sourceMappingURL=esy.css.map */
