@import "mixin"

// Main CSS preprocessor.
// @author  Prashant Sinha <firstname><lastname>@outlook.com

// No License: You're free to do whatever you want with it.


$source-sans:       "Source Sans Pro"
$background:        #FFFFFF

$header-background: #010712

$hero-height:       80%
$hero-background:   url(../img/herobg.jpg) 
$hero-overlay:      rgba(1,20,40,0.5)

$footer-bg:         rgb(28, 31, 38)

html, body
    font-family:    $source-sans
    height:         100%
    margin:         0
    position:       relative

body
    background:     $background

.esy
    height:         100%
    position:       relative
    width:          100%
    img
        max-width:  100%

    .controller
        background: #07141F
        position:   absolute
        width:      100%
        bottom:     0

        img
            height:     35px
            opacity:    0.5
            @include     transition(opacity 0.2s)
        img:hover
            opacity:    1

        .logo
            float: left
            height: 58px
            padding: 0 10px 0 10px

        .left
            float: left
            line-height:    40px
        .right
            float: right

        .left, .right
            color:              #FFFFFF
            font-weight:        100
            padding: 0
            margin:     10px
            list-style-type: none

            li
                padding:   0 10px 0 0
                display:   inline-box
                display:   table-cell

                &:last-child
                    padding: 0